.container {
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-family: var(--font-nunito), var(--font-nunito-sans), Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: var(--primary-dark);

    input {
        width: 100%;
        border: none;
        font-weight: 600;
        padding: 2px 8px;
        background-color: transparent;
        font-size: 14px;
        color: var(--secondary);
        border-left: 2px solid var(--secondary-dark);

        &::placeholder {
            font-family: var(--font-nunito), var(--font-nunito-sans), Arial, Helvetica, sans-serif;
            color: var(--secondary);
        }

    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    svg {
        font-size: 42px;
        padding: 8px;
        color: var(--secondary);
    }

    :focus {
        outline: none;
    }

    .close {
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            transition: 0.8s;
            rotate: 90deg;
            color: var(--quaternary);
        }
    }

}

@media (max-width: 850px) {
    .container {
        height: 32px;

        input {
            font-size: 12px;
            padding: 0px 16px 0 0px;

            &:focus {
                outline: none;
            }
        }

        svg {
            padding: 4px 8px;
        }
    }
}