.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .countries,
    .countriesNoResults {
        list-style: none;
        margin: 0 0;
        padding: 0 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-star;
        flex-flow: wrap;
        flex-direction: row;
        width: 100%;
        overflow: auto;
        border-radius: 8px;
        height: 70vh;

        li:nth-child(odd) {
            background-color: var(--secondary);
            border: 1.2px solid var(--primary);

            &:hover {
                border: 1.2px solid var(--primary);
            }
        }

        li:nth-child(even) {
            background-color: var(--primary);
            border: 1.2px solid var(--secondary);

            &:hover {
                border: 1.2px solid var(--secondary);
            }

        }

        li {
            position: relative;

            .favorite {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        .noResults {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            padding: 16px;
            color: var(--secondary);
            font-size: 24px;
            font-weight: 600;
            height: 70vh;

            div {
                background-color: var(--secondary);
                margin-top: 24px;
                border-radius: 5%;
            }
        }

        .loading {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            color: var(--secondary);
            font-size: 24px;
            font-weight: 600;
            height: 100%;
            border-radius: 8px;

            div {
                background-color: var(--secondary);
                margin-top: 24px;
                padding: 36px;
                border-radius: 5%;
            }
        }
    }

    .countriesNoResults {
        overflow: hidden;
    }

    .counter {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 16px 8px;
        border-radius: 8px;
        color: var(--secondary);
        font-size: 14px;
        font-weight: 600;

        strong {
            color: var(--secondary-dark);
        }
    }

    .favoritesCounter {

        strong {
            color: var(--quaternary);
        }
    }
}


@media (max-width: 850px) {

    .container {
        .countries {
            padding: 0;
            margin: 0;
            gap: 8px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start !important;

            .loading {
                justify-content: flex-start !important;

                p {
                    font-size: 14px;
                }
            }

        }

        .counter {
            justify-content: center;
        }

        .countriesNoResults {
            .noResults {
                justify-content: flex-start;

                p {
                    text-align: center;
                    font-size: 14px;
                }
            }
        }


    }

}