.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;

    .countries,
    .countriesNoResults {
        list-style: none;
        margin: 0 0;
        padding: 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-star;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 8px;
        height: 100%;


        li:nth-child(odd) {
            background-color: var(--secondary);
            border: 2px solid var(--primary);

            &:hover {
                border: 2px solid var(--primary);
            }
        }

        li:nth-child(even) {
            background-color: var(--primary);
            border: 2px solid var(--secondary);

            &:hover {
                border: 2px solid var(--secondary);
            }

        }

        li {
            position: relative;

            .favorite {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        .noResults {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            padding: 16px;
            color: var(--secondary);
            font-size: 16px;
            font-weight: 600;
            height: 100%;
        }

        .loading {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 8px;
        }
    }


    .counter {
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: 8px;
        border-radius: 8px;
        color: var(--secondary);
        font-size: 14px;
        font-weight: 600;

        strong {
            color: var(--secondary-dark);
        }
    }
}


@media (max-width: 850px) {
    .countries {
        padding: 0;
        margin: 0;
        gap: 8px;

    }

    .counter {
        justify-content: center;
    }

    .noResults {
        p {
            text-align: center;
            font-size: 14px;
        }
    }
}