.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 12vh;
  gap: 8px;

  .content {
    display: flex;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    color: var(--secondary);
    gap: 16px;

    .filterGroup {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      position: relative;
      border-radius: 8px;

      h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: 36px;
      }

      .filterPopUp {
        opacity: 0;
        transition: 0.8s;
        position: absolute;
        top: 40px;
        left: 0;
        gap: 24px;
        padding: 16px;
        z-index: 100;
        background-color: var(--primary-dark);
        border-radius: 8px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        >div {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          width: 100%;
          gap: 8px;

          span {
            font-size: 16px;
            font-weight: 800;
            color: var(--secondary-dark);
            border-bottom: 2px solid var(--secondary-dark);
            width: 100%;
          }

          .order {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            >div {
              transition: .8s;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 8px 0;
              gap: 8px;
              font-size: 24px;
              font-weight: 100;

              svg {
                transition: .8s;
                font-size: 24px;
                color: var(--secondary-dark);
              }

              &:hover {
                transition: 1s;
                cursor: pointer;
              }

              .arrowLeft {
                transition: 1s;
                transform: rotate(180deg);
              }

              .arrowRight {
                transition: 1s;
                transform: rotate(0deg);
              }

              .active {
                transition: .8s;
                color: var(--primary);
                font-weight: 800;
              }
            }
          }

          .checkbox {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            gap: 4px;

            .checkboxInput {
              width: 16px;
              height: 16px;
              background-color: var(--gray-600);
              color: var(--gray-600);
              border-radius: 4px;
              cursor: pointer;
              border: 1px solid var(--gray-600);
            }

            >p {
              font-size: 16px;
            }
          }
        }

      }

      &:hover {
        transition: 0.8s;
        cursor: pointer;

        .filterPopUp {
          opacity: 1;
        }
      }
    }


    .favorites,
    .favoritesActive {
      transition: 0.8s;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      border-radius: 8px;

      p {
        transition: 0.8s;
        font-size: 18px;
        font-weight: 800;
        color: var(--secondary);
      }

      svg {
        transition: 0.8s;
        font-size: 24px;
        color: var(--quaternary);
      }

      &:hover {
        transition: 0.8s;
        cursor: pointer;

        p {
          transition: 0.8s;
          font-weight: 800;
        }
      }
    }
  }
}

.favoritesActive {
  background-color: var(--primary);
}

@media (max-width: 768px) {
  .container {
    .order {
      >div {
        gap: 2px;
      }
    }
  }

}