.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 100px;
  overflow-y: hidden;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 16px;
    margin-top: 15vh;


    .titlePage {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }
  }
}

@media (max-width: 850px) {
  .container {
    margin: 0 24px;

    .content {
      margin-top: 10vh;

      .titlePage {
        margin-top: 24px;
      }
    }
  }
}